body {
    background-image: url('https://static.vecteezy.com/system/resources/previews/004/595/007/non_2x/red-and-white-background-design-flat-and-minimalist-background-design-illustration-free-vector.jpg');
    background-size: cover;
    background-position: center;
    height: 100vh; 
    margin: 0;
}

.table {
    width: 100%;
    margin: auto;
    overflow: hidden;
    border-radius: 7%;
}

.logo {
    width: 110px; /* Tamaño adaptable */
    height: auto; /* Mantiene la proporción original */
    max-width: 100%; /* Evita que se salga del contenedor */
}

.lupa {
    width: 50px;
    height: auto;
    max-width: 80%;
}

.table-container table {
    font-size: 16px; /* Reduce el tamaño del texto */
}



.table-container {
    max-width: 650px; /* Ajusta el ancho total */
    padding-left: 0%;
    float: left;
}

.borde {
    /* border: 2px solid rgba(220, 53, 69, 0.7) !important; */
    border-radius: 5px; /* Bordes redondeados (opcional) */
}

#spinner {
    position: fixed; 
    top: 50%;         
    left: 50%;        
}

.editar_eliminar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 5px;
}

